{% extends "core/base.html" %}

{% block content %}

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Hello, <span>Welcome Here</span></h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                <li class="breadcrumb-item active">UI-Tab</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            {% if form.errors %}
            <div class="row">
              <div class="col-lg-12">
                      <div class="alert alert-danger">
                        <ul>
                          {% for error in form.errors %}
                          <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                      </div>
                    </div>
            </div>
            {% endif %}
              <div class="row" id="success-message-row" style="display: none;">
                <div class="col-lg-12">
                        <div class="alert alert-success" id="success-div">
                          <span id="message-span"></span>
                        </div>
                      </div>
              </div>
            <!-- /# row -->
            <section id="main-content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{ project.title|title }}</h4>
                                <ul class="nav nav-pills m-t-30 m-b-30">
                                    <li class=" nav-item"> <a href="#navpills-1" class="nav-link active" data-toggle="tab" aria-expanded="false">Project Detail</a> </li>
                                    <li class=" nav-item"> <a href="#navpills-2" class="nav-link" data-toggle="tab" aria-expanded="false">Production</a> </li>
                                    <li class=" nav-item"> <a href="#navpills-3" class="nav-link" data-toggle="tab" aria-expanded="false">QC</a> </li>
                                    <li class=" nav-item"> <a href="#navpills-4" class="nav-link" data-toggle="tab" aria-expanded="false">Delivery</a> </li>
                                    <li class=" nav-item"> <a href="#navpills-5" class="nav-link" data-toggle="tab" aria-expanded="false">Completed</a> </li>
                                    <li class="nav-item"> <a href="#navpills-6" class="nav-link" data-toggle="tab" aria-expanded="true">Phases</a> </li>
                                </ul>
                                <div class="tab-content br-n pn">
                                    <div id="navpills-1" class="tab-pane active">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <label class="text-muted m-b-15 font-12"><b>Description:</b></label>
                                                    <span class="form-control-static">{{ project.description }}</span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="text-muted m-b-15 font-12"><b>Note:</b></label>
                                                    <span class="form-control-static">{{ project.note }}</span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="text-muted m-b-15 font-12"><b>Created At:</b></label>
                                                    <span class="form-control-static">{{ project.create_time }}</span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="text-muted m-b-15 font-12"><b>Target End Date:</b></label>
                                                    <span class="form-control-static">{{ project.target_end_time }}</span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="text-muted m-b-15 font-12"><b>Current Phase:</b></label>
                                                    <span class="form-control-static">{{ project.phase.name }}</span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="text-muted m-b-15 font-12"><b>Created By:</b></label>
                                                    <span class="form-control-static">{{ project.author.username }}</span>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <!-- Project Attachment section -->
                                        <div class="row">
                                            <div class="table-responsive">
                                                <div class="table-wrapper">
                                                    <div class="table-title">
                                                        <div class="row">
                                                            <div class="col-sm-10"><h2>Project Attachments</h2></div>
                                                            <div class="col-sm-2">
                                                                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>File Name</th>
                                                                <th>Tag</th>
                                                                <th>Uploaded By</th>
                                                                <th>Uploaded At</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for field in existing_attachments %}
                                                            <tr>
                                                                <td>{{ field.file_name }}</td>
                                                                <td>{{ field.tag }}</td>
                                                                <td>{{ field.uploaded_by }}</td>
                                                                <td>{{ field.uploaded_at }}</td>
                                                                <td>
                                                                    <i class="fa fa-trash-o delete-icon" style="cursor: pointer;color:red;padding-right: 20px;" data-delete-url="{% url 'add_remove_attachment' project.id %}" data-file-path="{{ field.file_name }}"></i>
                                                                    <a href="{% url 'download_file' file_id=field.file_id %}"><i class="fa fa-download"></i></a>

                                                                      <!-- Delete Confirmation Modal -->
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                   
                                                    </table>
                                                     <!-- Loader content -->
                                                     <div class="loader-container" style="display: none;">
                                                        <div class="loader"></div>
                                                      </div>
                                                    <!-- Inside  -->
                                                    <div id="csrftoken" style="display: none;">{% csrf_token %}</div>
                                                    <!-- Delete Confirmation Modal -->
                                                    <div class="modal fade" id="hideModalButton" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                              </button>
                                                            </div>
                                                            <div class="modal-body">
                                                              Are you sure you want to delete the file?
                                                            </div>
                                                            <div class="modal-footer">
                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelButton">Cancel</button>
                                                              <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                                                            </div>
                                                          </div>
                                                        </div>
                                                    </div>  

                                                </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div id="navpills-2" class="tab-pane">
                                        <div class="row">
                                            <div class="form-group">
                                                    <form method="post" action=" {% url 'edit_phase_assignments' project.id %} ">
                                                        {% csrf_token %}
                                                        <div class="input-group">
                                                            <label for="selectBox" class="text-muted m-b-15 font-12 label-inline">Assigned To:</label>
                                                            <select name="assignedTo" class="form-control select-box" id="selectBox" multiple="multiple" disabled  style="width: 400px;">
                                                                {% for user in users_list %}
                                                                    <option value="{{ user.id }}" {% if user.id in selected_users %} selected="selected" {% endif %}>
                                                                        {{ user.username }}
                                                                    </option>
                                                                {% endfor %}
                                                            </select>
                                                            <span class="edit-icon" id="editIcon" title="Edit Project Phase Assigned Users">&#9998;</span>
                                                            <button type="submit" class="save-button" id="saveButton" style="display: none;color: green;padding-top: 5px;">Save</button>
                                                        </div>
                                                    </form>
                                                </div> 

                                        </div>
                                        <div class="row">
                                            <div class="table-responsive">
                                                <div class="table-wrapper">
                                                    <div class="table-title">
                                                        <div class="row">
                                                            <div class="col-sm-10"><h5>Production Attachments</h5></div>
                                                            <div class="col-sm-2">
                                                                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>File Name</th>
                                                                <th>Tag</th>
                                                                <th>Uploaded By</th>
                                                                <th>Uploaded At</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for field in existing_attachments %}
                                                            <tr>
                                                                <td>{{ field.file_name }}</td>
                                                                <td>{{ field.tag }}</td>
                                                                <td>{{ field.uploaded_by }}</td>
                                                                <td>{{ field.uploaded_at }}</td>
                                                                <td>
                                                                    <i class="fa fa-trash-o delete-icon" style="cursor: pointer;color:red;padding-right: 20px;" data-delete-url="{% url 'add_remove_attachment' project.id %}" data-file-path="{{ field.file_name }}"></i>
                                                                    <a href="{% url 'download_file' file_id=field.file_id %}"><i class="fa fa-download"></i></a>

                                                                      <!-- Delete Confirmation Modal -->
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                   
                                                    </table>
                                                     <!-- Loader content -->
                                                     <div class="loader-container" style="display: none;">
                                                        <div class="loader"></div>
                                                      </div>
                                                    <!-- Inside  -->
                                                    <div id="csrftoken" style="display: none;">{% csrf_token %}</div>
                                                    <!-- Delete Confirmation Modal -->
                                                    <div class="modal fade" id="hideModalButton" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                              </button>
                                                            </div>
                                                            <div class="modal-body">
                                                              Are you sure you want to delete the file?
                                                            </div>
                                                            <div class="modal-footer">
                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelButton">Cancel</button>
                                                              <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                                                            </div>
                                                          </div>
                                                        </div>
                                                    </div>  

                                                </div>
                                        </div>
                                    </div>
                                    </div>




                                    <div id="navpills-3" class="tab-pane">
                                        <div class="row">
                                            <div class="form-group">
                                                    <form method="post" action=" {% url 'edit_phase_assignments' project.id %} ">
                                                        {% csrf_token %}
                                                        <div class="input-group">
                                                            <label for="selectBox" class="text-muted m-b-15 font-12 label-inline">Assigned To:</label>
                                                            <select name="assignedTo" class="form-control select-box" id="selectBox" multiple="multiple" disabled  style="width: 400px;">
                                                                {% for user in users_list %}
                                                                    <option value="{{ user.id }}" {% if user.id in selected_users %} selected="selected" {% endif %}>
                                                                        {{ user.username }}
                                                                    </option>
                                                                {% endfor %}
                                                            </select>
                                                            <span class="edit-icon" id="editIcon" title="Edit Project Phase Assigned Users">&#9998;</span>
                                                            <button type="submit" class="save-button" id="saveButton" style="display: none;color: green;padding-top: 5px;">Save</button>
                                                        </div>
                                                    </form>
                                                </div> 

                                        </div>
                                        <div class="row">
                                            <div class="table-responsive">
                                                <div class="table-wrapper">
                                                    <div class="table-title">
                                                        <div class="row">
                                                            <div class="col-sm-10"><h5>QC Attachments</h5></div>
                                                            <div class="col-sm-2">
                                                                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>File Name</th>
                                                                <th>Tag</th>
                                                                <th>Uploaded By</th>
                                                                <th>Uploaded At</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for field in existing_attachments %}
                                                            <tr>
                                                                <td>{{ field.file_name }}</td>
                                                                <td>{{ field.tag }}</td>
                                                                <td>{{ field.uploaded_by }}</td>
                                                                <td>{{ field.uploaded_at }}</td>
                                                                <td>
                                                                    <i class="fa fa-trash-o delete-icon" style="cursor: pointer;color:red;padding-right: 20px;" data-delete-url="{% url 'add_remove_attachment' project.id %}" data-file-path="{{ field.file_name }}"></i>
                                                                    <a href="{% url 'download_file' file_id=field.file_id %}"><i class="fa fa-download"></i></a>

                                                                      <!-- Delete Confirmation Modal -->
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                   
                                                    </table>
                                                     <!-- Loader content -->
                                                     <div class="loader-container" style="display: none;">
                                                        <div class="loader"></div>
                                                      </div>
                                                    <!-- Inside  -->
                                                    <div id="csrftoken" style="display: none;">{% csrf_token %}</div>
                                                    <!-- Delete Confirmation Modal -->
                                                    <div class="modal fade" id="hideModalButton" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                              </button>
                                                            </div>
                                                            <div class="modal-body">
                                                              Are you sure you want to delete the file?
                                                            </div>
                                                            <div class="modal-footer">
                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelButton">Cancel</button>
                                                              <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                                                            </div>
                                                          </div>
                                                        </div>
                                                    </div>  

                                                </div>
                                        </div>
                                    </div>
                                    </div>

                                    <div id="navpills-4" class="tab-pane">
                                        <!-- <div class="row">
                                            <div class="form-group">
                                                    <form method="post" action=" {% url 'edit_phase_assignments' project.id %} ">
                                                        {% csrf_token %}
                                                        <div class="input-group">
                                                            <label for="selectBox" class="text-muted m-b-15 font-12 label-inline">Assigned To:</label>
                                                            <select name="assignedTo" class="form-control select-box" id="selectBox" multiple="multiple" disabled  style="width: 400px;">
                                                                {% for user in users_list %}
                                                                    <option value="{{ user.id }}" {% if user.id in selected_users %} selected="selected" {% endif %}>
                                                                        {{ user.username }}
                                                                    </option>
                                                                {% endfor %}
                                                            </select>
                                                            <span class="edit-icon" id="editIcon" title="Edit Project Phase Assigned Users">&#9998;</span>
                                                            <button type="submit" class="save-button" id="saveButton" style="display: none;color: green;padding-top: 5px;">Save</button>
                                                        </div>
                                                    </form>
                                                </div> 

                                        </div> -->
                                        <div class="row">
                                            <div class="table-responsive">
                                                <div class="table-wrapper">
                                                    <div class="table-title">
                                                        <div class="row">
                                                            <div class="col-sm-10"><h5>Delivery Attachments</h5></div>
                                                            <div class="col-sm-2">
                                                                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>File Name</th>
                                                                <th>Tag</th>
                                                                <th>Uploaded By</th>
                                                                <th>Uploaded At</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for field in existing_attachments %}
                                                            <tr>
                                                                <td>{{ field.file_name }}</td>
                                                                <td>{{ field.tag }}</td>
                                                                <td>{{ field.uploaded_by }}</td>
                                                                <td>{{ field.uploaded_at }}</td>
                                                                <td>
                                                                    <i class="fa fa-trash-o delete-icon" style="cursor: pointer;color:red;padding-right: 20px;" data-delete-url="{% url 'add_remove_attachment' project.id %}" data-file-path="{{ field.file_name }}"></i>
                                                                    <a href="{% url 'download_file' file_id=field.file_id %}"><i class="fa fa-download"></i></a>

                                                                      <!-- Delete Confirmation Modal -->
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                   
                                                    </table>
                                                     <!-- Loader content -->
                                                     <div class="loader-container" style="display: none;">
                                                        <div class="loader"></div>
                                                      </div>
                                                    <!-- Inside  -->
                                                    <div id="csrftoken" style="display: none;">{% csrf_token %}</div>
                                                    <!-- Delete Confirmation Modal -->
                                                    <div class="modal fade" id="hideModalButton" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                              </button>
                                                            </div>
                                                            <div class="modal-body">
                                                              Are you sure you want to delete the file?
                                                            </div>
                                                            <div class="modal-footer">
                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelButton">Cancel</button>
                                                              <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                                                            </div>
                                                          </div>
                                                        </div>
                                                    </div>  

                                                </div>
                                        </div>
                                    </div>
                                    </div>



                                    <div id="navpills-5" class="tab-pane">
                                        <!-- <div class="row">
                                            <div class="form-group">
                                                    <form method="post" action=" {% url 'edit_phase_assignments' project.id %} ">
                                                        {% csrf_token %}
                                                        <div class="input-group">
                                                            <label for="selectBox" class="text-muted m-b-15 font-12 label-inline">Assigned To:</label>
                                                            <select name="assignedTo" class="form-control select-box" id="selectBox" multiple="multiple" disabled  style="width: 400px;">
                                                                {% for user in users_list %}
                                                                    <option value="{{ user.id }}" {% if user.id in selected_users %} selected="selected" {% endif %}>
                                                                        {{ user.username }}
                                                                    </option>
                                                                {% endfor %}
                                                            </select>
                                                            <span class="edit-icon" id="editIcon" title="Edit Project Phase Assigned Users">&#9998;</span>
                                                            <button type="submit" class="save-button" id="saveButton" style="display: none;color: green;padding-top: 5px;">Save</button>
                                                        </div>
                                                    </form>
                                                </div> 

                                        </div> -->
                                        <div class="row">
                                            <div class="table-responsive">
                                                <div class="table-wrapper">
                                                    <div class="table-title">
                                                        <div class="row">
                                                            <div class="col-sm-10"><h5>Final Output</h5></div>
                                                            <div class="col-sm-2">
                                                                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>File Name</th>
                                                                <th>Tag</th>
                                                                <th>Uploaded By</th>
                                                                <th>Uploaded At</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for field in existing_attachments %}
                                                            <tr>
                                                                <td>{{ field.file_name }}</td>
                                                                <td>{{ field.tag }}</td>
                                                                <td>{{ field.uploaded_by }}</td>
                                                                <td>{{ field.uploaded_at }}</td>
                                                                <td>
                                                                    <i class="fa fa-trash-o delete-icon" style="cursor: pointer;color:red;padding-right: 20px;" data-delete-url="{% url 'add_remove_attachment' project.id %}" data-file-path="{{ field.file_name }}"></i>
                                                                    <a href="{% url 'download_file' file_id=field.file_id %}"><i class="fa fa-download"></i></a>

                                                                      <!-- Delete Confirmation Modal -->
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                   
                                                    </table>
                                                     <!-- Loader content -->
                                                     <div class="loader-container" style="display: none;">
                                                        <div class="loader"></div>
                                                      </div>
                                                    <!-- Inside  -->
                                                    <div id="csrftoken" style="display: none;">{% csrf_token %}</div>
                                                    <!-- Delete Confirmation Modal -->
                                                    <div class="modal fade" id="hideModalButton" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                              </button>
                                                            </div>
                                                            <div class="modal-body">
                                                              Are you sure you want to delete the file?
                                                            </div>
                                                            <div class="modal-footer">
                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelButton">Cancel</button>
                                                              <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                                                            </div>
                                                          </div>
                                                        </div>
                                                    </div>  

                                                </div>
                                        </div>
                                    </div>
                                    </div>

                                    

                                    <!-- Tineline tab section-->
                                    <div id="navpills-6" class="tab-pane">
                                        <div class="row">
                                            <div class="col">
                                                <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
                                                    <div class="timeline-step">
                                                        <div class="timeline-content">
                                                            <div class="inner-circle"></div>
                                                            <p class="h6 text-muted mb-0 mb-lg-0">Backlog</p>
                                                        </div>
                                                    </div>
                                                    <div class="timeline-step">
                                                        <div class="timeline-content">
                                                            <div class="inner-circle"></div>
                                                            <p class="h6 text-muted mb-0 mb-lg-0">Production</p>
                                                        </div>
                                                    </div>
                                                    <div class="timeline-step">
                                                        <div class="timeline-content">
                                                            <div class="inner-circle"></div>
                                                            <p class="h6 text-muted mb-0 mb-lg-0">QC</p>
                                                        </div>
                                                    </div>
                                                    <div class="timeline-step">
                                                        <div class="timeline-content">
                                                            <div class="inner-circle"></div>
                                                            <p class="h6 text-muted mb-0 mb-lg-0">Delivery</p>
                                                        </div>
                                                    </div>
                                                    <div class="timeline-step mb-0">
                                                        <div class="timeline-content">
                                                            <div class="inner-circle"></div>
                                                            <p class="h6 text-muted mb-0 mb-lg-0">Completion</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Timeline tab section ends here -->
                            </div>
                        </div>
                    </div>
                    </div>
                
                

                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-title">
                                <h4>Timeline</h4>

                            </div>
                            <div class="card-body" style="max-height: 637px; overflow-y: auto;">
                                <ul class="timeline">

                                    {% for item in timeline %}
                                    <li>
                                        <div class="timeline-badge {% if 'Project' in item.changenote and 'created.' in item.changenote  %} primary {% elif item.status == 'add' %} success {% elif item.status == 'update' %} warning {% elif item.status == 'delete' %} danger {% endif %}">
                                            {% if "Project" in item.changenote and "created." in item.changenote  %}
                                            <i class="fa fa-smile-o"></i>
                                            {% elif item.status == 'add' %}
                                            <i class="fa fa-check-circle-o"></i>
                                            {% elif item.status == 'update' %}
                                            <i class="fa fa-sun-o"></i>
                                            {% elif item.status == 'delete' %}
                                            <i class="fa fa-times-circle-o"></i>
                                            {% endif %}
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h5 class="timeline-title"> {{ item.changenote }}</h5>
                                            </div>
                                            <div class="timeline-body">
                                                <p> by {{ item.user }} {{ item.time }} ago</p>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                
                
                
                
                
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    const deleteIcons = document.querySelectorAll(".delete-icon");
    var csrfInputElement = document.querySelector('#csrftoken input[name="csrfmiddlewaretoken"]');
    const csrfToken = csrfInputElement.value;
    const phaseAssignmentsList = document.getElementById("phase-assignments");
    const loaderContainer = document.querySelector('.loader-container');

     // Function to get the value of the 'message' query parameter from the URL
     function getQueryParameter(parameterName) {
         const queryString = window.location.search;
         const urlParams = new URLSearchParams(queryString);
        return urlParams.get(parameterName);
    }

     // Get the 'message' query parameter
    const message = getQueryParameter('message');

     if (message) {
         // Display the message in the 'success-div'
         const successDiv = document.getElementById('message-span');
         successDiv.innerHTML = message;

    }

    // Edit Assigned User 
    const inputBox = document.getElementById('selectBox');
    const editIcon = document.getElementById('editIcon');
    const saveButton = document.getElementById('saveButton');

    editIcon.addEventListener('click', () => {
      inputBox.disabled = false;
      inputBox.readOnly = false;
      inputBox.classList.add('editable');
      editIcon.style.display = 'none';
      saveButton.style.display = 'inline-block';
    });

    saveButton.addEventListener('click', () => {
      inputBox.readOnly = true;
      inputBox.classList.remove('editable');
      editIcon.style.display = 'inline-block';
      saveButton.style.display = 'none';
    });

    deleteIcons.forEach(icon => {
      icon.addEventListener("click", function () {
        const deleteUrl = icon.getAttribute("data-delete-url");
        const filePath = icon.getAttribute("data-file-path");

        // Set up the click event for the "Delete" button in the modal
        document.getElementById("confirmDelete").addEventListener("click", function () {
          // Show the loading spinner when delete is confirmed
          $('#deleteModal').modal('hide'); // Close the modal
          // Show the loader with the spinner
          document.getElementById("hideModalButton").classList.remove("show");
          document.getElementById("hideModalButton").style.display = "none";
          loaderContainer.style.display = "flex";


          // Create a FormData object to send the data
          var formData = new FormData();
          formData.append("action", "delete");
          formData.append("file_path", filePath);
          fetch(deleteUrl, {
            method: "POST",
            body: formData,
            headers: {
              "X-CSRFToken": csrfToken,
            }
          }).then(response => {
            
            if (response.ok) {
                    if (response.url) {
                        // Redirect to the new location
                        window.location.href = response.url;
                        return;
                    }
                    return response.text();
                }
                throw new Error('Network response was not ok.');
            }).then(data => {
                // Handle the success response here
                console.log(data);
            }).catch(error => {
                // Handle the error here
                console.error(error);
            })
          .finally(() => {
            // Close the modal
            document.getElementById("hideModalButton").classList.remove("show");
            document.getElementById("hideModalButton").style.display = "none";

            // Hide the loading spinner when the action is completed
            loaderContainer.style.display = 'none'; 
          });
        });

        // Show the confirmation modal
        document.getElementById("hideModalButton").classList.add("show");
        document.getElementById("hideModalButton").style.display = "block";
      });
    });
  });

  document.getElementById("cancelButton").addEventListener("click", function() {
    // Close the modal manually
    document.getElementById('hideModalButton').style.display = "none";
  });
  
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    const loaderContainer = document.querySelector('.loader-container');

    // Append table with add row form on add new button click
    $(".add-new").click(function () {
        $(this).attr("disabled", "disabled");
        var index = $("table tbody tr:last-child").index();
        var actions = '<button type="button" class="btn btn-success" style="size: 10px;">' +
            '<i class="fa fa-check"></i> Tick</button>';
        var row = '<tr>' +
            '<td><input type="file" class="form-control" name="file" id="file"></td>' +
            '<td><select id="tag" name="tag">{% for tag in tags %}' +
            '<option value="{{ tag.id }}">{{ tag.name }}</option>{% endfor %}</select></td>' +
            '<td><input type="text" id="username" name="username" value="{{ user.username }}" disabled></td>' +
            '<td><input type="text" id="createdAt" name="createdAt" value="" disabled></td>' +
            '<td>' + actions + '</td></tr>';

        $("table").append(row);
        $("table tbody tr").eq(index + 1).find(".add, .edit").toggle();
        $('[data-toggle="tooltip"]').tooltip();

        // Add click event handler to the newly added button
        $(".btn-success").click(function () {
            // Get data from the input fields
            var fileData = $("#file").prop("files")[0];
            var tagData = $("#tag").val();
            var usernameData = $("#username").val();
            var csrfInputElement = document.querySelector('#csrftoken input[name="csrfmiddlewaretoken"]');
            const csrfToken = csrfInputElement.value;
            loaderContainer.style.display = 'flex';


            // Create a FormData object to send the data
            var formData = new FormData();
            formData.append("file", fileData);
            formData.append("tag", tagData);
            formData.append("username", usernameData);

            // Make an API POST request using fetch
            fetch("{% url 'add_remove_attachment' project.id %}", {
                method: "POST",
                body: formData,
                headers: {
                    "X-CSRFToken": csrfToken,
                }
            }).then(response => {
            if (response.ok) {
                loaderContainer.style.display = 'none';
                $('#loader').hide();
                    if (response.url) {
                        // Redirect to the new location
                        window.location.href = response.url;
                        return;
                    }
                    return response.text();
                }
                throw new Error('Network response was not ok.');
            }).then(data => {
                loaderContainer.style.display = 'none';

                // Handle the success response here
                console.log(data);
                // Hide the loader when the request is completed
            })
        });
    });
    


    // Add User Box
    const selectBox = $('#selectBox');
    const addItemButton = document.getElementById('addItemButton');
    const selectedItemsContainer = document.getElementById('selectedItems');
    const errorMessage = document.getElementById('errorMessage');
    let previousValue = selectBox.val();

    selectBox.select2({
      tags: true
    });

    selectBox.on('change', function() {
      selectedItemsContainer.innerHTML = '';
      errorMessage.textContent = '';

      const selectedOptions = selectBox.val();

      if (selectedOptions && selectedOptions.length > 0) {
        selectedOptions.forEach((option) => {
          const selectedItem = document.createElement('span');
          selectedItem.classList.add('selected-item');
          selectedItem.textContent = option;

          selectedItem.addEventListener('click', function() {
            // Remove the clicked option
            const newValue = selectBox.val();
            const indexToRemove = newValue.indexOf(option);
            if (indexToRemove !== -1) {
              newValue.splice(indexToRemove, 1);
              selectBox.val(newValue).trigger('change');
            }
          });

          selectedItemsContainer.appendChild(selectedItem);
        });
      }

      // Enable the "Add Item" button if there are selected items and they are valid options
      if (selectedOptions && selectedOptions.length > 0) {
        const isValidSelection = selectedOptions.every(option => selectBox.find(`option[value="${option}"]`).length > 0);
        if (isValidSelection) {
          addItemButton.removeAttribute('disabled');
        } else {
          addItemButton.setAttribute('disabled', 'true');
          errorMessage.textContent = 'Invalid option selected';
        }
      } else {
        addItemButton.setAttribute('disabled', 'true');
      }
    });
});
  
  
  </script>
  <style>
    @keyframes moveProgress {
        0% {
            width: 0;
        }
        100% {
            width: 20%;
        }
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2-tags/0.6.0/select2-tags.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
{% endblock %}
