<!-- <form method="post" action="{% url 'edit_phase_assignments' %}">
                                                        {% csrf_token %}
                                                        {{ form.as_p }}
                                                        <input type="submit" value="Save">
                                                    </form>
                                                
                                                    <ul id="phase-assignments">
                                                        {% for assignment in assignments %}
                                                            <li>{{ assignment }}</li>
                                                        {% endfor %}
                                                    </ul> -->